:root {
  --black: #000;
  --transparent-black: rgba(0,0,0,.25);
  --darkgray: #333;
  --lakeryellow: #fdb927;
  --lakerpurple: #552583;
  --skyblue: rgb(135, 206, 250);
  --cornflowerblue: rgb(100, 149, 237);
  --lightestgray: rgba(0, 0, 0, 0.05);
  --sweetbeige: #f5f2f0;
  --main-margin: 16px;
  --border-size: 2px;
  --underline: var(--border-size) solid var(--transparent-black);
  --native-header-margin: 0.83em;
  --main-width: 624px;
  --main-yellow: hsl(51, 100%, 59%);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lora", serif;
  color: var(--black);
  background: var(--main-yellow);
  font-size: 1.15em;
}

h1,
h2,
h3,
h4,
.badge {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 400;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

figcaption .emoji {
  font-style: normal;
  font-size: 1.5em;
  margin: 0 4px;
}

figcaption code {
  font-style: normal;
  font-size: 1.2em;
}

blockquote {
  font-style: italic;
}

header {
  padding: 12px 0;
}

header h2 {
  max-width: calc(var(--main-width) + 2 * var(--main-margin));
  margin: 1em auto;
}

main {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 8px var(--main-margin);
}

img {
  max-width: var(--main-width);
}

.badge {
  background: var(--sweetbeige);
  border: 3px solid var(--lakeryellow);
  padding: var(--native-header-margin) var(--main-margin);
  color: var(--lakerpurple);
}

.footer {
  margin-top: 3em;
}

.footer .badge a,
.footer .badge a:hover,
.badge a {
  color: var(--lakerpurple);
  text-decoration: none;
  border-bottom: 3px solid var(--lakeryellow);
  font-weight: 500;
}

.direct-link {
  font-size: 0.9em;
}

.post p {
  line-height: 1.65;
}

.post a {
  padding: 1px 0;
  border-bottom: var(--underline);
}

.post sup a {
  padding: unset;
  border-bottom: unset;
}
.post pre.language-text,
.post pre.language-js,
.post pre.language-ts,
.post pre.language-elm,
.post pre.language-ruby,
.post pre.language-html,
.post code.language-text {
  /*border: 2px solid var(--lakeryellow);*/
}

.post pre.language-text,
.post pre.language-js,
.post pre.language-ts,
.post pre.language-elm,
.post pre.language-ruby,
.post pre.language-html,
.post code.language-text,
.post code.language-js,
.post code.language-ts,
.post code.language-elm,
.post code.language-ruby,
.post code.language-html,
.post code.language-text {
  font-size: 0.85em;
}

.post-list {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.post-list .year-title {
  box-sizing: border-box;
  padding: 0;
  margin: 2em 0 1em 0;
  font-weight: 700;
}

.post-list .year-title:not(:first-child) {
  margin-top: 4em;
}

.post-list .year-title span {
  color: var(--black);
  font-size: 2em;
}

.post-list ul {
  margin-top: 0;
  padding: 0 64px 0 0 ;
}

.post-list li {
  margin-bottom: 1em;
  list-style: none;
}

.post-list .name {
  font-size: 1.1em;
  margin-right: 4px;
}

.post-list .name a {
  border-bottom: var(--underline);
}

.post-list .name a:hover {
  border-bottom: 2px solid var(--black);
}

.post-list .date {
  color: rgba(0,0,0,.6);
}

.post a:hover {
  text-decoration: none;
  padding: 1px 0;
  border-bottom: 2px solid var(--black);
}

.post iframe[src="http://jsfiddle.net/notc93Lv/embedded/?username=jmilgrom"],
.post iframe[src="http://jsfiddle.net/mv2187zo/embedded/js,html,result/?username=jmilgrom"] {
  min-height: 320px;
}
