:root {
  --darkgray: #333;
  --lakeryellow: #fdb927;
  --lakerpurple: #552583;
  --lightestgray: rgba(0, 0, 0, 0.05);
  --sweetbeige: #f5f2f0;
  --main-margin: 16px;
  --border-size: 2px;
  --border: var(--border-size) solid var(--sweetbeige);
  --native-header-margin: .83em;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lora", serif;
  color: var(--darkgray);
}

.badge {
  background: var(--sweetbeige);
  padding: var(--native-header-margin) var(--main-margin);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 400;
}

img {
  max-width: 640px;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

blockquote {
  font-style: italic;
}

header {
  padding: 12px 0;
}

header h2 {
  max-width: calc(680px + 2 * var(--main-margin));
  margin: 1em auto;
}

header h2 .title {
  color: var(--lakerpurple);
  text-decoration: underline;
  text-decoration-color: var(--lakeryellow);
}

.direct-link {
  font-size: 0.9em;
}

main {
  max-width: 680px;
  margin: 0 auto;
  padding: 8px var(--main-margin);
}

.post p {
  line-height: 1.5;
}

.post a {
  padding: 1px 0;
  border-bottom: 1px solid var(--darkgray);
}

.post pre.language-text,
.post pre.language-js,
.post pre.language-ts,
.post code.language-text,
.post code.language-js,
.post code.language-ts {
  font-size: 0.9em;
}

.post-list {
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

.post-list .year-title {
  box-sizing: border-box;
  padding: 0;
  margin: 1em 0;
  border-bottom: var(--border);
}

.post-list .year-title span {
  color: var(--lakerpurple);
  text-decoration: underline;
  text-decoration-color: var(--lakeryellow);
  background: var(--sweetbeige);
  padding: 8px;
  margin-left: -8px;
  margin-bottom: calc(-1 * var(--border-size));
  font-size: 1.2em;
}

.post-list ul {
  margin-top: 0;
  padding: 0;
}

.post-list li {
  display: flex;
  margin-bottom: 1em;
}

.post-list .name {
  flex: 5;
  font-weight: 500;
}

.post-list .date {
  flex: 1;
}


.post-list li span {
  margin-right: 16px;
}

.post a:hover {
  color: var(--lakerpurple);
  text-decoration: none;
  background: var(--sweetbeige);
  padding: 1px 0;
  border-bottom: 2px solid var(--lakeryellow);
}
