:root {
  --black: #1f2937;
  --transparent-black: rgba(0, 0, 0, 0.15);
  --lightblack: rgba(0, 0, 0, 0.5);
  --darkgray: #374151;
  --lakeryellow: #fdb927;
  --lakerpurple: #6b21a8;
  --skyblue: rgb(135, 206, 250);
  --cornflowerblue: rgb(100, 149, 237);
  --lightestgray: rgba(0, 0, 0, 0.03);
  --sweetbeige: #fefefe;
  --main-margin: 16px;
  --border-size: 2px;
  --underline: var(--border-size) solid var(--transparent-black);
  --native-header-margin: 0.83em;
  --main-width: 624px;
  --main-yellow: #ffffff;
  --light-yellow: rgb(255, 255, 224);
  --large-space: 4em;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Georgia", serif;
  color: var(--black);
  background: var(--main-yellow);
  font-size: 1.15em;
}

h1,
h2,
h3,
h4,
footer,
nav,
.badge {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 400;
}

hr {
  border: 1px solid var(--transparent-black);
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

figcaption .emoji {
  font-style: normal;
  font-size: 1.5em;
  margin: 0 4px;
}

figcaption code {
  font-style: normal;
  font-size: 1.2em;
}

blockquote {
  font-style: italic;
}

header {
  padding: 12px 0;
}

header h2 {
  max-width: calc(var(--main-width) + 2 * var(--main-margin));
  margin: 1em auto;
}

main {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 2px var(--main-margin);
}

footer {
  max-width: var(--main-width);
  padding: 2px var(--main-margin);
  margin: var(--large-space) auto 0 auto;
  font-size: 1rem;
  border-top: 2px solid var(--black);
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  padding: 2em 0;
}

footer li {
  margin: 1em 1.5em 0 0;
}

img,
video {
  max-width: var(--main-width);
}

.toc-tag {
  position: fixed;
  bottom: 1.5vw;
  right: 1.5vw;
  font-size: 1.4em;
}

.toc-tag a {
  border-bottom: var(--underline);
}

.toc-tag a:hover {
  border-bottom: 2px solid var(--lakeryellow);
}

@media (max-width: 624px) {
  img,
  video {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .toc-tag {
    font-size: 1.2em;
    bottom: 2vw;
    right: 1vw;
  }

  .toc-tag a,
  .toc-tag a:hover {
    border-bottom: none;
  }
}

.introductory-caveat {
  padding: 1em;
  border: 2px dashed var(--transparent-black);
}

nav.table-of-contents {
  line-height: 2;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px dashed var(--transparent-black);
}

.table-of-contents > ol {
  list-style-type: lower-roman;
}

.table-of-contents > ol ol {
  list-style-type: lower-alpha;
}

.badge {
  background: var(--sweetbeige);
  border: 1px solid rgba(253, 185, 39, 0.4);
  border-radius: 6px;
  padding: var(--native-header-margin) var(--main-margin);
  color: var(--lakerpurple);
  line-height: unset;
}

.footer {
  margin-top: var(--large-space);
  margin-left: calc(-1 * var(--main-margin));
}

.footer .badge a,
.footer .badge a:hover,
.badge a {
  color: var(--lakerpurple);
  text-decoration: none;
  border-bottom: 3px solid var(--lakeryellow);
  font-weight: 500;
}

.direct-link {
  font-size: 0.9em;
}

.post p {
  line-height: 1.65;
}

.post .subtitle {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  font-size: 1.25em;
  color: var(--lightblack);
  margin-top: -0.75em;
  margin-bottom: 1em;
  line-height: 1.4;
}

.post .katex-display {
  line-height: normal;
}

.post a,
footer a:not(.contact) {
  padding: 1px 0;
  border-bottom: var(--underline);
}

footer a {
  color: var(--lightblack);
}

.post pre.language-text,
.post pre.language-js,
.post pre.language-ts,
.post pre.language-py,
.post pre.language-elm,
.post pre.language-ruby,
.post pre.language-html,
.post pre.language-md,
.post code.language-text,
.post code.language-js,
.post code.language-ts,
.post code.language-py,
.post code.language-elm,
.post code.language-ruby,
.post code.language-html,
.post code.language-md {
  font-size: 0.85em;
}

.post-list {
  line-height: 1.5;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.post-list .year-title {
  box-sizing: border-box;
  padding: 0;
  margin: 2em 0 1em 0;
  font-weight: 700;
}

.post-list .year-title:not(:first-child) {
  margin-top: 2em;
}

.post-list .year-title span {
  color: var(--black);
  font-size: 2em;
}

.post-list ul {
  margin-top: 0;
  max-width: calc(var(--main-width) - 64px);
  padding: 0;
}

.post-list li {
  margin-bottom: 1em;
  list-style: none;
}

.post-list .name {
  margin-right: 4px;
}

.post-list .name a {
  border-bottom: var(--underline);
}

.post-list .name a:hover {
  border-bottom: 2px solid var(--lakeryellow);
}

.post-list .date {
  color: var(--lightblack);
  white-space: nowrap;
}

.post a:hover {
  text-decoration: none;
  padding: 1px 0;
  border-bottom: 2px solid var(--lakeryellow);
}

.post iframe[src="http://jsfiddle.net/notc93Lv/embedded/?username=jmilgrom"],
.post iframe[src="http://jsfiddle.net/mv2187zo/embedded/js,html,result/?username=jmilgrom"]
{
  min-height: 320px;
}
